* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.galery {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.img {
  width: 150px;
  height: 600px;
  background-color: black;
  border-radius: 70px;
  margin: 10px;
}

/* #img-1 {
  width: 700px;
} */

.img-2 {
  background-color: blue;
}

.img-3 {
  background-color: blueviolet;
}

.img-4 {
  background-color: brown;
}

.img-5 {
  background-color: chocolate;
}

.width {
  transition: 2s;
  width: 700px;
}
